/* stylelint-disable selector-list-comma-newline-after */
body {color:#5b4636;background-color: #efe7dd;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;
    font-family:fakt,Helvetica,Arial,sans-serif;font-size:1.05rem;line-height:1.75rem}
/*
* this option for PDF print version
.blog-post p { font-size: 1.5rem; line-height:2.2rem }
h4 { font-size: 1.6rem; line-height:2.2rem }
h5 { font-size: 1.7rem; line-height:2.2rem }
h3 { page-break-before: always; }
@page { size: A4; }
*/

.blog-header { line-height: 1; border-bottom: 1px solid #e5e5e5; }
.blog-header-logo { font-family: "Playfair Display", Georgia, "Times New Roman", serif; font-size: 2.25rem; }
.blog-header-logo:hover { text-decoration: none; }

.border-bottom { border-bottom: 1px solid #dfcbb2 !important; }


h1, h2, h3, h4, h5, h6, em { font-family: "Playfair Display", Georgia, "Times New Roman", serif; }

h5.text-center, h4.text-center {color: #382819 !important;}

.text-dark { color: #382819 !important;}
.text-info { color: #746050 !important; font-weight: bold;}
.text-muted { color: #817062 !important;}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-second-base {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}
.blog-pagination > .btn {
  background-color: #ece4d9;
  text-align: center;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}

.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

.bg-light { background-color: #ece4d9 !important; }

/*
* Side menu
*/
.blog-sidebar {font-size:0.975rem;}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #817062;
  text-align: center;
  background-color: #ece4d9;
  /*border-top: .05rem solid #e5e5e5;*/
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
